<h1>Add a new Definition</h1>

<form action="/words/:id/definitions" method="post">
  <div class="form-group">
    <label for="definitions_text">Definition</label>
    <input id="n" text="definitions_text" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
