<h4>Word: <%= @word.text %></h4>

<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>

<p><a href="/words/<%= @word.id %>/definitions">Define word</a></p>

<a href="/words">Return to word list</
