<h1>Our Dictionary</h1>

<% if @words.any? %>
<ul>
	<% @words.each do |word| %>
	<li><a href="/words/<%= word.id %>"</a><%= word.text %></li>
	<% end %>
</ul>
<% else %>
<p>Our words are currently undifined</p>
<% end %>

<a href="/words/new">Add a Word</a>
